# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = my_spider.settings

[deploy:tongyao]
url = http://localhost:6800/  # url  必须要有 可以远程控制服务器
project = db_top250  # 项目名称  不能删掉