.main .aside{
    /*float: right;*/
    width: auto;
    background: #aecadd;
    position: absolute;
    top: 0;
    left: 900px;
}
.main .aside .side-activities div img{
    width: 283px;
    padding: 0 10px;
}

.main .aside .side-activities h2{
    padding: 0 20px;
    height: 20px;
    line-height: 20px;
}
.main .aside .side-activities h2 span{
    float: right;
    color: red;
}
.main .aside .side-activities p{
    padding: 0 20px;
    height: 25px;
    line-height: 25px;
}

.main .aside .side-activities .about{
    padding: 0 10px;
    width: 280px;
    line-height: 30px;
    background: url("https://img.hackhome.com/img2017/2/7/2017020755907421.png") no-repeat 180px 10px/100px 100px;
}
.main .aside .side-activities .about h2{
    padding: 0;
}
.main .aside .side-activities .about ul li{
    height: 45px;
    line-height: 42px;
}
.main .aside .side-activities .about ul li i{
    font-size: 35px;
    margin-right: 10px;
    vertical-align: -10px;
}
.main .aside .side-activities .about ul li span{
    margin: 60px;
}


.main .aside .side-activities .hot-news div{
    width: 200px;
    line-height: 30px;
    padding: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}

.main .aside .side-activities .hot-news p .left{
    float: left;
}
.main .aside .side-activities .hot-news p .right{
    float: right;
}

.main .aside .side-activities .hot-news{
    position: relative;
}

.main .aside .side-activities .hot-news{
    position: relative;
}

.main .aside .side-activities .hot-news img{
    width: 88px;
    height: 56px;
    position: absolute;
    top: 0;
    left: 200px;
}